<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full"
             src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F42650231%2F249463006328%2F1%2Foriginal.jpg?h=230&w=460&auto=compress&rect=0%2C0%2C1000%2C500&s=13fb9cd109efce27df7b8bc5413c82ca"
             width="89" height="45" alt="Jobeet Logo">
        <img class="navbar-brand-minimized" src="https://www.robertwent.com/wp-content/uploads/2017/07/symfony_logo.png"
             width="30" height="30" alt="Jobeet Logo">
    </a>
    {#<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">#}
    {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-list"></i>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-location-pin"></i>
            </a>
        </li>
    </ul>
</header>
