{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="form-main">
        <h1>Edit Category</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('category_index') }}">back to list</a>
    </div>
    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
